In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd

import unicodedata
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import pandas as pd

import os
from pprint import pprint 
import acquire as a

# 1.
Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

Lowercase everything
Normalize unicode characters
Replace anything that is not a letter, number, whitespace or a single quote.

In [2]:
def basic_clean(text):
    # Lowercase everything
    text = text.lower()
    
    # Normalize unicode characters
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    
    # Replace anything that is not a letter, number, whitespace, or a single quote
    text = re.sub(r"[^a-zA-Z0-9\s']", '', text)
    
    return text

In [3]:
text = 'Words which have little or no significance,\
especially when constructing meaningful features from text,\
are known as stop words (or stopwords).\
These are usually words that end up having the maximum frequency\
if you do a simple term or word frequency in a corpus.\
Typically, these can be articles, conjunctions, prepositions and so on.\
Some examples of stopwords: a, an, the, and like.'

In [4]:
clean_text = basic_clean(text)
clean_text

'words which have little or no significanceespecially when constructing meaningful features from textare known as stop words or stopwordsthese are usually words that end up having the maximum frequencyif you do a simple term or word frequency in a corpustypically these can be articles conjunctions prepositions and so onsome examples of stopwords a an the and like'

# 2.
Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [5]:
def tokenize(text):
    # Tokenize all the words in the string
    tokens = nltk.word_tokenize(text)
    return ' '.join(tokens)

In [6]:
token_text = tokenize(text)
token_text

'Words which have little or no significance , especially when constructing meaningful features from text , are known as stop words ( or stopwords ) .These are usually words that end up having the maximum frequencyif you do a simple term or word frequency in a corpus.Typically , these can be articles , conjunctions , prepositions and so on.Some examples of stopwords : a , an , the , and like .'

# 3. 
Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [7]:
def stem(text):
    # Apply stemming to all the words
    stemmer = PorterStemmer()
    stemmed_words = [stemmer.stem(word) for word in text.split()]
    return ' '.join(stemmed_words)

In [8]:
stem_text = stem(text)
stem_text

'word which have littl or no significance,especi when construct meaning featur from text,ar known as stop word (or stopwords).thes are usual word that end up have the maximum frequencyif you do a simpl term or word frequenc in a corpus.typically, these can be articles, conjunctions, preposit and so on.som exampl of stopwords: a, an, the, and like.'

# 4.
Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [9]:
def lemmatize(text):
    # Apply lemmatization to each word
    lemmatizer = WordNetLemmatizer()
    lemmatized_words = [lemmatizer.lemmatize(word) for word in text.split()]
    return ' '.join(lemmatized_words)

In [10]:
lemma_text = lemmatize(text)
lemma_text

'Words which have little or no significance,especially when constructing meaningful feature from text,are known a stop word (or stopwords).These are usually word that end up having the maximum frequencyif you do a simple term or word frequency in a corpus.Typically, these can be articles, conjunctions, preposition and so on.Some example of stopwords: a, an, the, and like.'

# 5.
Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [11]:
text

'Words which have little or no significance,especially when constructing meaningful features from text,are known as stop words (or stopwords).These are usually words that end up having the maximum frequencyif you do a simple term or word frequency in a corpus.Typically, these can be articles, conjunctions, prepositions and so on.Some examples of stopwords: a, an, the, and like.'

In [12]:
def remove_stopwords(text, extra_words=[], exclude_words=[]):
    # Remove stopwords from the text
    stopword_list = stopwords.words('english')
    stopword_list.extend(extra_words)
    stopword_list = [word for word in stopword_list if word not in exclude_words]
    words = text.split()
    filtered_words = [word for word in words if word not in stopword_list]
    return ' '.join(filtered_words)

In [13]:
stopword_ls = remove_stopwords(text)
stopword_ls

'Words little significance,especially constructing meaningful features text,are known stop words (or stopwords).These usually words end maximum frequencyif simple term word frequency corpus.Typically, articles, conjunctions, prepositions on.Some examples stopwords: a, an, the, like.'

# 6.
Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [14]:
news_df = a.get_news_articles()
news_df

,title,content,category
0,"India, Pakistan footballers break into fight d...",India and Pakistan footballers broke into a fi...,sports
1,India thrash Pakistan 4-0 as Sunil Chhetri sco...,India defeated Pakistan 4-0 in their opening m...,sports
2,Wrestling Federation of India elections postpo...,Elections for senior posts in the Wrestling Fe...,sports
3,Cricket Australia share pic of Cummins with ba...,Cricket Australia took to Twitter to share a p...,sports
4,Shreyanka stars as India beat B'desh in Emergi...,India defeated Bangladesh by 31 runs in the Wo...,sports
...,...,...,...
95,"Asked Alia 'What is it that H'wood has', she s...",Filmmaker Mahesh Bhatt said he once asked Alia...,entertainment
96,He was wonderful: Harrison Ford on 'Indiana..'...,Actor Harrison Ford remembered late actor Amri...,entertainment
97,"Parents said 'Even cats, dogs are on TV, when ...","Nawazuddin Siddiqui, while talking about his r...",entertainment
98,He's an amazing person: Tamannaah on 'attracti...,"Actress Tamannaah Bhatia said that she finds ""...",entertainment
99,People will eventually accept & enjoy 'Adipuru...,"Actor Manohar Pandey, who was seen in Prabhas-...",entertainment

# 7.
Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [15]:
url = 'https://codeup.com/blog/'
codeup_df = a.get_all_articles(url)
codeup_df

,title,content
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...
5,Black Excellence in Tech: Panelist Spotlight –...,Codeup is hosting a Black Excellence in Tech ...

# 8.
For each dataframe, produce the following columns:

title to hold the title
original to hold the original article/post content
clean to hold the normalized and tokenized original with the stopwords removed.
stemmed to hold the stemmed version of the cleaned data.
lemmatized to hold the lemmatized version of the cleaned data.

In [16]:
# Apply text cleaning to the news_df dataframe
news_df['clean'] = news_df['content'].apply(basic_clean)

In [17]:
news_df

,title,content,category,clean
0,"India, Pakistan footballers break into fight d...",India and Pakistan footballers broke into a fi...,sports,india and pakistan footballers broke into a fi...
1,India thrash Pakistan 4-0 as Sunil Chhetri sco...,India defeated Pakistan 4-0 in their opening m...,sports,india defeated pakistan 40 in their opening ma...
2,Wrestling Federation of India elections postpo...,Elections for senior posts in the Wrestling Fe...,sports,elections for senior posts in the wrestling fe...
3,Cricket Australia share pic of Cummins with ba...,Cricket Australia took to Twitter to share a p...,sports,cricket australia took to twitter to share a p...
4,Shreyanka stars as India beat B'desh in Emergi...,India defeated Bangladesh by 31 runs in the Wo...,sports,india defeated bangladesh by 31 runs in the wo...
...,...,...,...,...
95,"Asked Alia 'What is it that H'wood has', she s...",Filmmaker Mahesh Bhatt said he once asked Alia...,entertainment,filmmaker mahesh bhatt said he once asked alia...
96,He was wonderful: Harrison Ford on 'Indiana..'...,Actor Harrison Ford remembered late actor Amri...,entertainment,actor harrison ford remembered late actor amri...
97,"Parents said 'Even cats, dogs are on TV, when ...","Nawazuddin Siddiqui, while talking about his r...",entertainment,nawazuddin siddiqui while talking about his ro...
98,He's an amazing person: Tamannaah on 'attracti...,"Actress Tamannaah Bhatia said that she finds ""...",entertainment,actress tamannaah bhatia said that she finds e...
99,People will eventually accept & enjoy 'Adipuru...,"Actor Manohar Pandey, who was seen in Prabhas-...",entertainment,actor manohar pandey who was seen in prabhasst...

In [18]:
news_df['clean'] = news_df['clean'].apply(tokenize)

In [19]:
news_df

,title,content,category,clean
0,"India, Pakistan footballers break into fight d...",India and Pakistan footballers broke into a fi...,sports,india and pakistan footballers broke into a fi...
1,India thrash Pakistan 4-0 as Sunil Chhetri sco...,India defeated Pakistan 4-0 in their opening m...,sports,india defeated pakistan 40 in their opening ma...
2,Wrestling Federation of India elections postpo...,Elections for senior posts in the Wrestling Fe...,sports,elections for senior posts in the wrestling fe...
3,Cricket Australia share pic of Cummins with ba...,Cricket Australia took to Twitter to share a p...,sports,cricket australia took to twitter to share a p...
4,Shreyanka stars as India beat B'desh in Emergi...,India defeated Bangladesh by 31 runs in the Wo...,sports,india defeated bangladesh by 31 runs in the wo...
...,...,...,...,...
95,"Asked Alia 'What is it that H'wood has', she s...",Filmmaker Mahesh Bhatt said he once asked Alia...,entertainment,filmmaker mahesh bhatt said he once asked alia...
96,He was wonderful: Harrison Ford on 'Indiana..'...,Actor Harrison Ford remembered late actor Amri...,entertainment,actor harrison ford remembered late actor amri...
97,"Parents said 'Even cats, dogs are on TV, when ...","Nawazuddin Siddiqui, while talking about his r...",entertainment,nawazuddin siddiqui while talking about his ro...
98,He's an amazing person: Tamannaah on 'attracti...,"Actress Tamannaah Bhatia said that she finds ""...",entertainment,actress tamannaah bhatia said that she finds e...
99,People will eventually accept & enjoy 'Adipuru...,"Actor Manohar Pandey, who was seen in Prabhas-...",entertainment,actor manohar pandey who was seen in prabhasst...

In [20]:
news_df['clean'] = news_df['clean'].apply(remove_stopwords)
news_df

,title,content,category,clean
0,"India, Pakistan footballers break into fight d...",India and Pakistan footballers broke into a fi...,sports,india pakistan footballers broke fight later s...
1,India thrash Pakistan 4-0 as Sunil Chhetri sco...,India defeated Pakistan 4-0 in their opening m...,sports,india defeated pakistan 40 opening match 2023 ...
2,Wrestling Federation of India elections postpo...,Elections for senior posts in the Wrestling Fe...,sports,elections senior posts wrestling federation in...
3,Cricket Australia share pic of Cummins with ba...,Cricket Australia took to Twitter to share a p...,sports,cricket australia took twitter share picture a...
4,Shreyanka stars as India beat B'desh in Emergi...,India defeated Bangladesh by 31 runs in the Wo...,sports,india defeated bangladesh 31 runs women 's eme...
...,...,...,...,...
95,"Asked Alia 'What is it that H'wood has', she s...",Filmmaker Mahesh Bhatt said he once asked Alia...,entertainment,filmmaker mahesh bhatt said asked alia bhatt h...
96,He was wonderful: Harrison Ford on 'Indiana..'...,Actor Harrison Ford remembered late actor Amri...,entertainment,actor harrison ford remembered late actor amri...
97,"Parents said 'Even cats, dogs are on TV, when ...","Nawazuddin Siddiqui, while talking about his r...",entertainment,nawazuddin siddiqui talking role junior artist...
98,He's an amazing person: Tamannaah on 'attracti...,"Actress Tamannaah Bhatia said that she finds ""...",entertainment,actress tamannaah bhatia said finds everything...
99,People will eventually accept & enjoy 'Adipuru...,"Actor Manohar Pandey, who was seen in Prabhas-...",entertainment,actor manohar pandey seen prabhasstarrer 'adip...

In [21]:
news_df['stemmed'] = news_df['clean'].apply(stem)

In [22]:
news_df

,title,content,category,clean,stemmed
0,"India, Pakistan footballers break into fight d...",India and Pakistan footballers broke into a fi...,sports,india pakistan footballers broke fight later s...,india pakistan footbal broke fight later stage...
1,India thrash Pakistan 4-0 as Sunil Chhetri sco...,India defeated Pakistan 4-0 in their opening m...,sports,india defeated pakistan 40 opening match 2023 ...,india defeat pakistan 40 open match 2023 saff ...
2,Wrestling Federation of India elections postpo...,Elections for senior posts in the Wrestling Fe...,sports,elections senior posts wrestling federation in...,elect senior post wrestl feder india wfi inclu...
3,Cricket Australia share pic of Cummins with ba...,Cricket Australia took to Twitter to share a p...,sports,cricket australia took twitter share picture a...,cricket australia took twitter share pictur au...
4,Shreyanka stars as India beat B'desh in Emergi...,India defeated Bangladesh by 31 runs in the Wo...,sports,india defeated bangladesh 31 runs women 's eme...,india defeat bangladesh 31 run women 's emerg ...
...,...,...,...,...,...
95,"Asked Alia 'What is it that H'wood has', she s...",Filmmaker Mahesh Bhatt said he once asked Alia...,entertainment,filmmaker mahesh bhatt said asked alia bhatt h...,filmmak mahesh bhatt said ask alia bhatt holly...
96,He was wonderful: Harrison Ford on 'Indiana..'...,Actor Harrison Ford remembered late actor Amri...,entertainment,actor harrison ford remembered late actor amri...,actor harrison ford rememb late actor amrish p...
97,"Parents said 'Even cats, dogs are on TV, when ...","Nawazuddin Siddiqui, while talking about his r...",entertainment,nawazuddin siddiqui talking role junior artist...,nawazuddin siddiqui talk role junior artist 't...
98,He's an amazing person: Tamannaah on 'attracti...,"Actress Tamannaah Bhatia said that she finds ""...",entertainment,actress tamannaah bhatia said finds everything...,actress tamannaah bhatia said find everyth att...
99,People will eventually accept & enjoy 'Adipuru...,"Actor Manohar Pandey, who was seen in Prabhas-...",entertainment,actor manohar pandey seen prabhasstarrer 'adip...,actor manohar pandey seen prabhasstarr 'adipur...

In [23]:
news_df['lemmatized'] = news_df['clean'].apply(lemmatize)

In [24]:
news_df

,title,content,category,clean,stemmed,lemmatized
0,"India, Pakistan footballers break into fight d...",India and Pakistan footballers broke into a fi...,sports,india pakistan footballers broke fight later s...,india pakistan footbal broke fight later stage...,india pakistan footballer broke fight later st...
1,India thrash Pakistan 4-0 as Sunil Chhetri sco...,India defeated Pakistan 4-0 in their opening m...,sports,india defeated pakistan 40 opening match 2023 ...,india defeat pakistan 40 open match 2023 saff ...,india defeated pakistan 40 opening match 2023 ...
2,Wrestling Federation of India elections postpo...,Elections for senior posts in the Wrestling Fe...,sports,elections senior posts wrestling federation in...,elect senior post wrestl feder india wfi inclu...,election senior post wrestling federation indi...
3,Cricket Australia share pic of Cummins with ba...,Cricket Australia took to Twitter to share a p...,sports,cricket australia took twitter share picture a...,cricket australia took twitter share pictur au...,cricket australia took twitter share picture a...
4,Shreyanka stars as India beat B'desh in Emergi...,India defeated Bangladesh by 31 runs in the Wo...,sports,india defeated bangladesh 31 runs women 's eme...,india defeat bangladesh 31 run women 's emerg ...,india defeated bangladesh 31 run woman 's emer...
...,...,...,...,...,...,...
95,"Asked Alia 'What is it that H'wood has', she s...",Filmmaker Mahesh Bhatt said he once asked Alia...,entertainment,filmmaker mahesh bhatt said asked alia bhatt h...,filmmak mahesh bhatt said ask alia bhatt holly...,filmmaker mahesh bhatt said asked alia bhatt h...
96,He was wonderful: Harrison Ford on 'Indiana..'...,Actor Harrison Ford remembered late actor Amri...,entertainment,actor harrison ford remembered late actor amri...,actor harrison ford rememb late actor amrish p...,actor harrison ford remembered late actor amri...
97,"Parents said 'Even cats, dogs are on TV, when ...","Nawazuddin Siddiqui, while talking about his r...",entertainment,nawazuddin siddiqui talking role junior artist...,nawazuddin siddiqui talk role junior artist 't...,nawazuddin siddiqui talking role junior artist...
98,He's an amazing person: Tamannaah on 'attracti...,"Actress Tamannaah Bhatia said that she finds ""...",entertainment,actress tamannaah bhatia said finds everything...,actress tamannaah bhatia said find everyth att...,actress tamannaah bhatia said find everything ...
99,People will eventually accept & enjoy 'Adipuru...,"Actor Manohar Pandey, who was seen in Prabhas-...",entertainment,actor manohar pandey seen prabhasstarrer 'adip...,actor manohar pandey seen prabhasstarr 'adipur...,actor manohar pandey seen prabhasstarrer 'adip...

In [25]:
codeup_df

,title,content
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...
5,Black Excellence in Tech: Panelist Spotlight –...,Codeup is hosting a Black Excellence in Tech ...

In [26]:
# Apply text cleaning to the codeup_df dataframe
codeup_df['clean'] = codeup_df['content'].apply(basic_clean)

In [27]:
codeup_df

,title,content,clean
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may is traditionally known as asian american a...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...,codeup is hosting a women in tech panel in hon...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...,codeup is hosting a women in tech panel in hon...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...,codeup is hosting a women in tech panel in hon...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...,codeup is hosting a women in tech panel in hon...
5,Black Excellence in Tech: Panelist Spotlight –...,Codeup is hosting a Black Excellence in Tech ...,codeup is hosting a black excellence in tech ...

In [28]:
codeup_df['clean'] = codeup_df['clean'].apply(tokenize)

In [29]:
codeup_df

,title,content,clean
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may is traditionally known as asian american a...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...,codeup is hosting a women in tech panel in hon...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...,codeup is hosting a women in tech panel in hon...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...,codeup is hosting a women in tech panel in hon...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...,codeup is hosting a women in tech panel in hon...
5,Black Excellence in Tech: Panelist Spotlight –...,Codeup is hosting a Black Excellence in Tech ...,codeup is hosting a black excellence in tech p...

In [30]:
codeup_df['clean'] = codeup_df['clean'].apply(remove_stopwords)

In [31]:
codeup_df

,title,content,clean
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may traditionally known asian american pacific...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...
5,Black Excellence in Tech: Panelist Spotlight –...,Codeup is hosting a Black Excellence in Tech ...,codeup hosting black excellence tech panel hon...

In [32]:
codeup_df['stemmed'] = codeup_df['clean'].apply(stem)

In [33]:
codeup_df

,title,content,clean,stemmed
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may traditionally known asian american pacific...,may tradit known asian american pacif island a...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...
5,Black Excellence in Tech: Panelist Spotlight –...,Codeup is hosting a Black Excellence in Tech ...,codeup hosting black excellence tech panel hon...,codeup host black excel tech panel honor black...

In [34]:
codeup_df['lemmatized'] = codeup_df['clean'].apply(lemmatize)

In [35]:
codeup_df

,title,content,clean,stemmed,lemmatized
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may traditionally known asian american pacific...,may tradit known asian american pacif island a...,may traditionally known asian american pacific...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...,codeup hosting woman tech panel honor woman hi...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...,codeup hosting woman tech panel honor woman hi...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...,codeup hosting woman tech panel honor woman hi...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...,codeup hosting woman tech panel honor woman hi...
5,Black Excellence in Tech: Panelist Spotlight –...,Codeup is hosting a Black Excellence in Tech ...,codeup hosting black excellence tech panel hon...,codeup host black excel tech panel honor black...,codeup hosting black excellence tech panel hon...