In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd

import os
from pprint import pprint

Codeup Blog Articles

Visit Codeup's Blog and record the urls for at least 5 distinct blog posts. For each post, you should scrape at least the post's title and content.

Encapsulate your work in a function named get_blog_articles that will return a list of dictionaries, with each dictionary representing one article. The shape of each dictionary should look like this:

In [2]:
def get_all_articles(link_list):
    article_list = []
    headers = {"User-Agent": "Chrome/91.0.4472.124"}

    for links in link_list:
        for link in links:
            response = requests.get(link, headers=headers)
            soup = BeautifulSoup(response.content, 'html.parser')
            title = soup.find('h1', class_='entry-title').text
            divcont = soup.find('div', class_='entry-content')
            article = [para.text for para in divcont.find_all('p')]

            article_dict = {'title': title, 'content': article}
            article_list.append(article_dict)
    
    codeup_df = pd.DataFrame(article_list)
    
    return codeup_df

In [3]:
link_list= [('https://codeup.com/codeup-news/women-in-tech-panelist-spotlight-sarah-mellor/', 'https://codeup.com/featured/apida-heritage-month/',
          'https://codeup.com/featured/women-in-tech-panelist-spotlight/','https://codeup.com/featured/women-in-tech-rachel-robbins-mayhill/',
           'https://codeup.com/events/women-in-tech-madeleine/')]

codeup_df = get_all_articles(link_list)
codeup_df

,title,content
0,Women in Tech: Panelist Spotlight – Sarah Mellor,[Codeup is hosting a Women in Tech Panel in ho...
1,Spotlight on APIDA Voices: Celebrating Heritag...,[May is traditionally known as Asian American ...
2,Women in tech: Panelist Spotlight – Magdalena ...,[Codeup is hosting a Women in Tech Panel in ho...
3,Women in tech: Panelist Spotlight – Rachel Rob...,[Codeup is hosting a Women in Tech Panel in ho...
4,Women in Tech: Panelist Spotlight – Madeleine ...,[Codeup is hosting a Women in Tech Panel in ho...

# 2.
News Articles

We will now be scraping text data from inshorts, a website that provides a brief overview of many different topics.

Write a function that scrapes the news articles for the following topics:

Business
Sports
Technology
Entertainment
The end product of this should be a function named get_news_articles that returns a list of dictionaries, where each dictionary has this shape:

In [4]:
def get_news_articles():
    links = [
        'https://inshorts.com/en/read/sports',
        'https://inshorts.com/en/read/business',
        'https://inshorts.com/en/read/technology',
        'https://inshorts.com/en/read/entertainment'
    ]

    news_articles = []

    for link in links:
        response = requests.get(link)
        soup = BeautifulSoup(response.content, 'html.parser')

        category = link.split('/')[-1]

        articles = soup.find_all('div', class_='news-card')

        for article in articles:
            title = article.find('span', itemprop='headline').text.strip()
            content = article.find('div', itemprop='articleBody').text.strip()

            news_articles.append({
                'title': title,
                'content': content,
                'category': category
            })
            
        articles_df = pd.DataFrame(news_articles)

    return articles_df

In [5]:
articles_df = get_news_articles()
articles_df

,title,content,category
0,Australia record their highest successful run ...,Australia chased down 281-run target against E...,sports
1,Virat Kohli completes 12 years in Test cricket...,Ex-Team India captain Virat Kohli on Tuesday c...,sports
2,French police raids Paris 2024 Olympics headqu...,The headquarters of the Paris 2024 Olympics or...,sports
3,Sikandar Raza smashes fastest hundred for Zimb...,All-rounder Sikandar Raza on Tuesday smashed t...,sports
4,Usman Khawaja becomes 2nd Australian cricketer...,Australia opener Usman Khawaja has become the ...,sports
...,...,...,...
94,I'll launch you if you want to be actor: Kher ...,Anupam Kher took to Instagram to share a video...,entertainment
95,"Of course, they do: Akshay on if box office nu...","Akshay Kumar, replying to a question on whethe...",entertainment
96,Could've made superhero film: Ramanand Sagar's...,Ramanand Sagar's son Prem Sagar said that 'Adi...,entertainment
97,Welcome to the parents' club: Jr NTR to Ram Ch...,Jr NTR congratulated his 'RRR' co-star Ram Cha...,entertainment
98,"Prabhas, Saif could've demanded bound script: ...","Sunil Lahri, who played Laxman in Ramanand Sag...",entertainment